$cRed: #F20505;
$cBlack: #000000;
$cWhite: #ffffff;
$cGray: #808080;
$cLime: #00FF00;

body {
  margin: 0;
  padding: 0;
}

.p-header {
  position: relative;
  height: 65vw;
  &__title {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nanum Brush Script';
    font-size: 9vw;
    white-space: nowrap;
    text-align: center;
    color: $cLime;
    &::after {
      content:'\AそのWeb制作私に頼まない？';
      white-space: pre;
      font-size: 4vw;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition:1s ease-in-out;
    overflow: hidden;
    
    &Second {
      position: absolute;
      width: 100%;
      opacity: 1;
      transition:1s ease-in-out;
 
    }
  }
}


.p-section {
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  height: 15vw;


  &__title {
    position: absolute;
    font-family: "ヒラギノ角ゴシック";
    color: $cRed;
    font-weight: 600;
    line-height: 15vw;
    padding-left: 3vw;
    font-size: 3vw;
    &::after {
      content:'- Ranma Komatsu-';
      padding-left: 2vw;
      font-size: 2vw;
      color: $cBlack;
    }
    
      &Second {
        font-family: "Nanum Brush Script";
        font-size: 5vw;
        position: absolute;
        line-height: 15vw;
        left:75%;
        right: 0;
    }
  }

  &__list {
    position: absolute;
    top: 60%;
    left: 3%;
    display: flex;
    list-style: none;
    width: 80%;
  }
  &__lister {
    text-decoration: none;
    font-size: 1.5vw;
    margin: 0 2vw;
    color: $cBlack;
  }

}


.p-main {
  position: relative;
  top: 0;
  min-height: 100vw;
  &__top {
    font-size: 10vw;
    position: absolute;
    top:0;
    left: 50vw;
    font-family: "Nanum Brush Script";
  }

  &__article {
    position: relative;
    top: 0;
    height: 165vw;
  }
  &__imageWorks{
    position: absolute;
    width: 100%;
    top:25vw;
  }
  &__Work {
    display: block;
    width: 40%;
    position: absolute;
    left: 20%;
    top:40vw;
  }
  &__imageIroha{
    border: solid 2px $cRed;
    width: 60%;
    border-radius: 10px;
  }
  &__WorkText {
    margin: 1vw 6vw;
  }
  &__WorksTop {
    font-size: 10vw;
    position: absolute;
    top:20vw;
    left: 20vw;
    font-family: "Nanum Brush Script";
    z-index: 2;
    color: $cRed;
  }
  
  &__imageAbout{
    position: absolute;
    width: 100%;
    top:95vw;
  }
  &__AboutTop {
    font-size: 10vw;
    position: absolute;
    top:90vw;
    left: 20vw;
    font-family: "Nanum Brush Script";
    z-index: 1;
    color: $cRed;
  }

  &__Abouttext {
    position: absolute;
    font-size: 2vw;
    top: 110vw;
    left: 10vw;
    
    &er {
      color: $cWhite;
      width: 80%;
      position: absolute;
      top:-5vw;
      left: 51vw;
      transform: skewy(8deg);
      font-size: 1.5vw;
    } 
  }

  &__about {
    color: $cBlack;
    font-weight: 600;
  }
  &__ContactTop {
    font-size: 10vw;
    font-family: "Nanum Brush Script";
    z-index: 2;
    color: $cRed;
    margin:  auto;
    text-align: center;
  }
  
  &__table {
    display: table-cell;
    text-align: center;
  }
  &__imageList {
    width: 33vw;
    height: 30vw;
    border-radius: 100px;
  }
  &__text {
    text-align: center;
    font-size: 3.5vw;
    font-family: "Nanum Brush Script";
    color: $cRed;
      &Design {
        @extend .p-main__text;
        &::after {
          content:"\A~ design ~";
          white-space: pre;
          color: $cBlack;
        }
      }
      &Cording {
        @extend .p-main__text;
        &::after {
          content:"\A~ cording ~";
          white-space: pre;
          color: $cBlack;
        }
      }
      &Maintenance {
        @extend .p-main__text;
        &::after {
          content:"\A~ maintenance ~";
          white-space: pre;
          color: $cBlack;
        }
      }
  }  

  &__texter {
    font-size: 1.5vw;
    margin: 20px;
  }

}



 .p-arrow {
  display:inline-block;
  height:7vw;
  width:4vw;
  background-color:$cBlack;
  position:absolute;
  top:10vw;
  left: 30vw;
  
  &::before{
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:5.5vw solid transparent;
    border-top:5.5vw solid $cBlack;
    left:-3.5vw;
    top:6.5vw;
  }
}

// お問い合わせフォーム

.p-main__form {
  margin-top: 5vw;
}

.form {
  margin: 8vw;
}

#name {
  width:40vw;
  display: block;
}

#mail {
  display: block;
  width:60vw;
}
#message {
  width:60vw;
  height:10vw;
  display: block;
}

.button {
 margin-left: 75vw;
 margin-top: -40vw;
}

#sent {
  width: 15vw;
  height: 15vw;
  border-radius: 100px;
  background-color: cyan;
  cursor: pointer;
  margin-bottom: 30px;
}
#reset {
  @extend #sent;
}

.p-footer {
  background-color: $cBlack;
  width: 100%;
  height: 90px;
  text-align: center;
&__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 90px;
  &er {
    margin: 0 1.5vw;
    color: $cRed;
    text-decoration: none;
  }
}

&__copyright {
  background-color: $cGray;
  margin: 0;

  &er {
    margin: 0;
    text-align: center;
  }
}
}

// tablet 表示
@media(max-width: 768px) {

  .p-main {
    &__table {
      margin: 0 20vw;
      display: inline-block;
      max-width: 100vw;
    }
  }

  .p-section__titleSecond {
    display: none;
  }

  .p-section__list {
    display: none;
  }

#container {
  position: relative;
  height: 100vh;
  z-index: 1;
  transition: all 0.5s;
}

.header {
  height: 15vw;
  margin-right: 2vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
  .mobile-menu {
    position: fixed;
    top: 10vw;
    width: 100%;
    z-index: 2;
    margin: 0 auto;

    &__cover {
        position: fixed;
        top:0;
        left: 0;
        width:100%;
        height: 100%;
        background-color: $cRed;
        opacity: 0;
        display: none;
        cursor: pointer;
       
    }

    &__main {
        padding:0;
        
    }
    &__item {
        list-style: none;
        transform: translate(0,0,-1000px);
        text-align: center;
        display: none;
    }

    &__link {
        display: inline-flex;
        margin: 0 auto;
        color: $cBlack;
        text-decoration: none;
    }
}

.main-title {
  font-weight: 600;
  font-size: 2.5vw;
  pointer-events: painted;
  
}

.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
 

  & > span {
      background-color: $cBlack;
      width: 5.5vw;
      height: 2px;
      display: block;
      margin-bottom: 9px;
      transition: transform 0.7s;
      &:last-child {
          margin-bottom: 0;
      }
  }
}

.menu-open {
  & .mobile-menu {
      &__cover {
          opacity: 1;
          display: block;
      }
      &__item {
          display: block;
      }
  }

  & .mobile-menu__btn {
      & > span {
          background-color: $cBlack;

          &:nth-child(1) {
              transition-delay: 70ms;
              transform: translateY(11px) rotate(135deg);
          }
          &:nth-child(2) {
              transition-delay: 0s;
              transform:  translateX(-18px) scaleX(0);
          }
          &:nth-child(3) {
              transition-delay: 140ms;
              transform: translateY(-11px) rotate(-135deg);
          }
      }
  }
}
}

// スマホ 表示
@media(max-width: 450px) {
.p-main {

  &__imageWorks {
    display: none;
  }

  &__WorksTop {
    left: 38vw;
  }

  &__Work {
    width: 100%;
    right: 0;
    left: 0;
    text-align: center;
  } 
  &__imageAbout {
    display: none;
  }

  &__AboutTop {
    top: 130vw;
    left: 38vw;
  }
  &__Abouttext {
    top: 150vw;
    left: 30vw;  
    &er {
      display: none;
     
    }
  }
  &__about {
    font-size: 2px;
  }

  &__table {
    margin-top: 50px;
  }
  #sent {
    border-radius: 0px;
    width: 100%;
  }

}

}
